<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (user) {%>
      <h1>WELCOME BACK <%= user.first_name %></h1>
      <a href="/log-out">LOG OUT</a>

      <% if (user.is_vip === false) { %>
        <h3><a href="/vip"><span>CLICK HERE</span> </a> to become a VIP member </h3>
      <% } %>

      <h3><a href="/createMessage">Create New Message</a></h3>

      <% allPosts.forEach(post => { %>
        <ul>
          <li>
            <div class="message">
              <p><strong>Title:</strong> <%= post.title %></p>
              <p><strong>Message:</strong> <%= post.message %></p>
          
              <% if (user && user.is_vip) { %>
                <!-- Display full message content to VIP members -->
                <p><strong>Author:</strong> <%= post.author.username %></p>
                <p><strong>Posted:</strong> <%= post.time_stamp %></p>
                <form action="/delete/<%= post._id %>" method="POST">
                  <button type="submit">Delete</button>
                </form>
              <% } else { %>
                <!-- Display limited content for non-VIP members -->
                <p><em>Become a VIP member to unlock this hidden content!</em></p>
              <% } %>
            </div>
          </li>
        </ul>
      <% }) %>

    <% } else { %>
      <h1>please log in</h1>
      <form action="/log-in" method="POST">
        <label for="username">Username</label>
        <input name="username" placeholder="username" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <button>Log In</button>
      </form>

      <h2>Or click <a href="/signup">Here</a> to sign up</h2>
    <%}%>
  </body>
</html>
